<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMCoreConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MMCoreConnector.Properties.Settings>
            <setting name="MMCoreConnector_WRMailBoxAccount_MailBoxAccountManagementService"
                serializeAs="String">
                <value>http://localhost:8088/mailBoxAccount</value>
            </setting>
            <setting name="MMCoreConnector_WRCertification_CertificationService"
                serializeAs="String">
                <value>http://localhost:8088/certification</value>
            </setting>
            <setting name="MMCoreConnector_WRAdapters_AdaptersService" serializeAs="String">
                <value>http://gl-everest.lan.pcsol.be:8080/services/Adapters</value>
            </setting>
            <setting name="MMCoreConnector_WRCreateMproxyAccount_MproxyAccountsService"
                serializeAs="String">
                <value>http://gl-everest.lan.pcsol.be:8080/AccountsServiceSession/createMproxyAccount</value>
            </setting>
            <setting name="MMCoreConnector_WREtkDepotAdapter_EtkDepotAdapterService"
                serializeAs="String">
                <value>http://everest.cmpmedica.be:8080/services/EtkDepotAdapter</value>
            </setting>
            <setting name="MMCoreConnector_WRQueueManagement_QueueManagerService"
                serializeAs="String">
                <value>http://localhost:8088/queueManagement</value>
            </setting>
            <setting name="MMCoreConnector_WRDdiagnostics_DiagnosticsService"
                serializeAs="String">
                <value>http://localhost:8088/diagnostics</value>
            </setting>
            <setting name="MMCoreConnector_WRAccount_AccountService" serializeAs="String">
                <value>http://gl-everest.lan.pcsol.be:8080/services/Account</value>
            </setting>
        </MMCoreConnector.Properties.Settings>
    </applicationSettings>
</configuration>